streamlit==1.32.0
transformers==4.36.2
torch==2.2.0
pymupdf==1.23.25
pdfplumber==0.10.3
pytesseract==0.3.10
pdf2image==1.17.0
langdetect==1.0.9
keybert==0.7.0
langchain==0.1.0
langchain-groq==0.1.0
Pillow==10.1.0
python-dotenv==1.0.0
concurrent-log-handler==0.9.23
